@use "/src/utilities/theme";

.overlay {
  //height: calc(100% - 120px);
  width: 100%;
  padding: 60px 0px;

  display: flex;
  //flex-direction: column;
  //align-items: center;
  //justify-content: center;

  position: absolute;
  z-index: 1;
}
