@use "/src/utilities/theme";

.page {
  height: 100%;
  width: 96%;
  padding: 60px 0px;
  margin: auto;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: theme.$bg-color;
}

.bold {
  font-weight: 800;
}
