@use "/src/utilities/theme";

.header {
  height: 60px;
  width: 100%;

  padding: 0 20px;

  position: fixed;
  z-index: 1;
  top: 0;

  display: flex;
  flex-direction: row;
  align-items: center;

  background-color: theme.$blue-4;
  color: theme.$bg-color;

  & > div {
    width: 100%;
  }

  .logo {
    cursor: pointer;
    font-weight: 800;
  }

  .time {
    text-align: center;
  }
}
