@use "/src/utilities/theme";

.overlay {
  height: calc(100% - 120px);
  width: 100%;
  padding: 60px 0px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: absolute;
  z-index: 1;

  .buttons {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    div {
      margin: 5px;
    }
  }

  .bold {
    font-weight: 800;
  }
}
