@use "/src/utilities/theme";

.footer {
  height: 60px;
  width: calc(100% - 40px);

  padding: 0 20px;

  position: fixed;
  z-index: 3;
  bottom: 0;

  display: flex;
  flex-direction: row;
  align-items: center;

  background-color: theme.$blue-4;
  color: theme.$bg-color;

  .bug {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

@media screen and (max-height: 600px) {
  .footer {
    display: none;
  }
}
