.ui-resizable-se{
    background-image: none !important;
}
.ui-resizable-sw{
    background-image: none !important;
}
.ui-resizable-ne{
    background-image: none !important;
}
.ui-resizable-nw{
    background-image: none !important;
}

