@use "/src/utilities/theme";

.factories {
  width: 96%;
  padding: 60px 0px;
  margin: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .stem {
    width: 100%;
    margin: 20px 0;

    display: flex;
    flex-direction: column-reverse;

    border-bottom: 2px solid;
    font-weight: 800;
    border-color: theme.$blue-4;
    color: theme.$blue-4;
  }
}
